<h2>About Page</h2>

<!--=========================================================================================================================
     2.     Our Mission (short video with description of mission)
  ============================================================================================================================-->
    <section class="mission">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IYfW214ydAI" frameborder="0" allowfullscreen></iframe>
            </div>
            
          </div>
          <div class="col-md-6">
            <h1>Our Mission</h1>
            <p>We use the power of equity crowdfunding to make direct and indirect investments in local businesses and value added real estate projects. Our goal is to inject capital in historically disadvantaged areas  where such investments can deliver value and provide benefits to local community residents. </p>
          </div>
        </div>
      </div>
    </section>