   
    
<!--=========================================================================================================================
      7.    Blog
  ============================================================================================================================-->
     <section class="blog">
       <div class="banner_blog">
           <h1 class="blog_text">Blog</h1>
       </div>
       <div class="container">
         <div class="row">
           <div class="col-md-8">
             <div class="thumbnail">
             <%= image_tag("blog1.jpeg") %>
             <div class="caption">
             <h2>Invest a little...make a lot!</h2>
             <p>November 21, 2016  | <span class="blogicon"><i class="fa fa-eye"> 120</i></span ><span class="blogicon"><i class="fa fa-comment"> 20</i></span><span class="blogicon"><i class="fa fa-heart"> 12</i></span></p>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
             <button class="btn btn-success">Read More</button>
           </div>
           </div>
           
           
             <div class="thumbnail">
             <%= image_tag("blog2.jpeg") %>
             <div class="caption">
             <h2>Spotting the diamond in the rough</h2>
             <p>November 21, 2016  &nbsp| <span class="blogicon"><i class="fa fa-eye"> 120</i></span ><span class="blogicon"><i class="fa fa-comment"> 20</i></span><span class="blogicon"><i class="fa fa-heart"> 12</i></span></p>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
             <button class="btn btn-success">Read More</button>
           </div>
           </div>
         </div>
       
     </section>
