/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 
 h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

/* hero */

#hero {
    background: url('web_header.jpg') no-repeat;
    background-size: cover;
    height: 600px;
    
}
.callout {
   
    padding-top: 15%;
}

.callout h1 {
    font-size: 6em;
    color: #fff;
    text-shadow: #000;
}
.callout p {
    font-size: 2em;
    color: #fff;
}

/* Mission */
.mission {
    padding: 50px 0;
    background-color: #404040;
    width: 100%;
    height: 600px;
    color: #fff;
}
.textbox {
    padding-right: 50px;
    text-align: justify;
    color: #000;
}
.campaign .testbox {
    color: #000;
}
